.DS_Store
.git
.svn
*.pyc
.AppleDouble
yaki/var/cache/*
yaki/var/log/*
yaki/var/index/*
yaki/var/cache/*
yaki/var/log/*
yaki/var/Yaki*
yaki/tmp/*
Yaki.xcodeproj/project.xcworkspace/xcuserdata/rcarmo.xcuserdatad/UserInterfaceState.xcuserstate
Yaki.xcodeproj/project.xcworkspace/contents.xcworkspacedata
