.DS_Store
*.pyc
.AppleDouble
yaki/var/cache/*
yaki/var/log/*
yaki/var/index/*
yaki/var/cache/*
yaki/var/log/*
yaki/tmp/*


Yaki.xcodeproj/project.xcworkspace/xcuserdata/rcarmo.xcuserdatad/UserInterfaceState.xcuserstate

Yaki.xcodeproj/project.xcworkspace/contents.xcworkspacedata
